@model List<BankingSystem.PL.ViewModels.Manager.CustomerSupportTicketViewModel>

@{
    ViewData["Title"] = "Support Tickets";
    var customerId = ViewBag.CustomerId as string;

}

<h1>Support Tickets</h1>

@if (Model != null && Model.Any())
{
    <div class="row">
        @foreach (var ticket in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Ticket: @ticket.Title</h5>
                    </div>
                    <div class="card-body">
                        <dl class="row">
                            <dt class="col-sm-4">
                                Account Number
                            </dt>
                            <dd class="col-sm-8">
                                @ticket.AccountNumber
                            </dd>
                            <dt class="col-sm-4">
                                Description
                            </dt>
                            <dd class="col-sm-8">
                                @ticket.Description
                            </dd>

                            <dt class="col-sm-4">
                                Date
                            </dt>
                            <dd class="col-sm-8">
                                @ticket.Date.ToString("yyyy-MM-dd")
                            </dd>

                            <dt class="col-sm-4">
                                Status
                            </dt>
                            <dd class="col-sm-8">
                                @ticket.Status
                            </dd>

                            <dt class="col-sm-4">
                                Type
                            </dt>
                            <dd class="col-sm-8">
                                @ticket.Type
                            </dd>

                            <dt class="col-sm-4">
                                Response
                            </dt>
                            <dd class="col-sm-8">
                                @ticket.Response
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
            <br />
        }
    </div>
}
else
{
    <p>No support tickets found.</p>
}
<div>
    <a asp-controller="ManagerCustomer" asp-action="GetCustomerDetails" asp-route-id="@customerId" class="btn  btn-primary mt-3">
        Back
    </a>
</div>
