@model BankingSystem.DAL.Models.Account

@{
    ViewData["Title"] = "Edit";
}


<div class="d-flex justify-content-between pt-4">
    <h1 class="h2 text-primary text-center w-100">
        <i class="fas fa-pen me-2"></i> Edit Account
    </h1>
</div>


<div class="text-center">
    <span class="fw-medium">@Model?.Customer?.FirstName @Model?.Customer?.LastName →</span>
    <small class="text-muted">CID: @Model?.CustomerId</small>
</div>


<div class="row justify-content-center">
    <div class="col-md-10">
        <form asp-action="Edit">
            <div asp-validation-summary="All" class="text-danger"></div>

            <partial name="_CreateEditPartial" model="@Model" view-data='new ViewDataDictionary(ViewData) { { "IsEditMode", true } }' />


            <div hidden class="form-group">
                <label>Customer</label>
                <input class="form-control" value="@($"{Model.Customer?.FirstName} {Model.Customer?.LastName}")" />
                <input type="hidden" asp-for="CustomerId" value="@Model.CustomerId" />
            </div>

            <div hidden class="form-group">
                <label>Branch</label>
                <input class="form-control" value="@Model.Branch?.Name" />
                <input type="hidden" asp-for="BranchId" value="@Model.BranchId" />
            </div>


            <div class="mt-4 d-flex justify-content-center gap-3">
                <input type="hidden" name="returnUrl" value="@Url.Action("ShowAccounts", "HandleCustomer", new { id = Model.CustomerId })" />

                <button type="submit" class="btn btn-success px-5 py-2 fs-5">
                    <i class="fas fa-edit me-2"></i>Save
                </button>

                <a href="javascript:history.back()" class="btn btn-outline-secondary px-5 py-2 fs-5">
                     <i class="fas fa-arrow-left me-2"></i>Cancel
                 </a> 
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
